# Example environment configuration for psa_download_and_harvest.sh
# Assumes all environment variables for Harvest are handled elsewhere
# 
# Usage: ./psa_download_and_harvest.sh -c psa_download.env

# Download directory for PSA labels
export PSA_SYNC_DATA_DIR="/path/to/psa/data"

# Exclusion pattern for pds-sync-api
export PSA_SYNC_EXCLUDES="nasa/pds"

# Conda installation path (only needed if conda not in standard location)
# CONDA_HOME="/path/to/miniconda3"

# Conda environment name. If invalid, uses system python.
export PSA_SYNC_CONDA_ENV="conda-env"

# Path for PSA download log 
PSA_DOWNLOAD_LOG_DIR="/path/to/logs/psa-download-logs"

# Harvest configuration file name for ESA PSA
export PSA_SYNC_HARVEST_SOLR_CONFIG_FILE="harvest-policy-psa.xml"